@charset "UTF-8";
/* Обнуленние */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700;800&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #2C2C2C;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  height: 100vh;
  font-family: "Open Sans";
  overflow: hidden;
}

.wrapper {
  height: 100%;
  margin: 0 auto;
  width: 335px;
  position: relative;
}

h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  margin-bottom: 19px;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 1;
}
form h1 {
  -ms-flex-item-align: start;
      align-self: flex-start;
}
form .registration {
  color: #919191;
  margin-bottom: 30px;
}
form label {
  color: #919191;
}

input {
  width: 335px;
  height: 49px;
  border: 1px solid #F8B505;
  border-radius: 3px;
  margin-bottom: 15px;
  outline: none;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}

button {
  height: 55px;
  font-family: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-weight: 700;
  color: #FFF;
  font-size: 18px;
  padding: 15px 0px 15px 15px;
  background-color: #F8B505;
  border-radius: 3px;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
  cursor: pointer;
}
button:hover {
  background-color: #fbcb50;
}

.checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 16px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
}
.checkbox input {
  height: 20px;
  width: 20px;
  margin-right: 5px;
}

.error_psw {
  text-align: center;
}

.img_back {
  position: absolute;
  top: 63.61%;
  left: -793px;
  width: 100%;
  z-index: -1;
}

.logo {
  position: absolute;
  bottom: 87.9%;
  left: 60px;
}

.error_psw {
  font-weight: bold;
  margin-top: 15px;
  text-align: center;
  border: 2px solid red;
  border-radius: 10px;
  -webkit-box-shadow: 0px 7px 24px 2px rgb(255, 5, 5);
          box-shadow: 0px 7px 24px 2px rgb(255, 5, 5);
  padding: 5px 0 5px;
}

.correct_psw {
  font-weight: bold;
  margin-top: 15px;
  text-align: center;
  border: 2px solid rgb(238, 241, 20);
  border-radius: 10px;
  -webkit-box-shadow: 0px 7px 24px 2px rgb(255, 230, 5);
          box-shadow: 0px 7px 24px 2px rgb(255, 230, 5);
  padding: 5px 0 5px;
}